{% extends "layouts/base-app-pages.html" %}

{% load static %}
{% load my_filters %}

{% block tittle-container %}
Editar detalles del programa {{ program.name }}
{% endblock %}

{% block main-container-content %}
<div class="container">
    <div class="container text-center">
        <h3 class="text-lg-start">Editar Información Básica del Programa</h3>
        <br><br>
        <!-- Display program information -->
        <form id="editForm" action="{% url 'edit_academic_program' program.id %}" method="POST"
              enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container text-lg-start">
                <div class="row gx-5">
                    <!-- Display program name -->
                    <div class="col">
                        <label for="name" class="p-1">Nombre del programa:</label>
                    </div>
                    <div class="col mb-3">
                        <!-- Edit the program name -->
                        <textarea name="name" id="name" class="form-control p-1" rows="3">{{ program.name }}</textarea>
                    </div>
                    <!-- Edit the program type -->
                    <div class="col">
                        <label class="p-1">Tipo:</label>
                    </div>
                    <div class="col">
                        <select class="form-select" aria-label="" name="type">
                            <option selected value="{{ program.type }}">{{ program.type }}</option>
                            {% for type in types %}
                            {% if program.type != type %}
                            <option value="{{ type }}">{{ type }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <!-- Display other program details -->
                <div class="row gx-5">
                    <div class="col">
                        <label for="faculty" class="p-1">Facultad:</label>
                    </div>
                    <div class="col mb-3">
                        <textarea id="faculty" class="form-control p-1" rows="3"
                                  name="faculty">{{ program.faculty }}</textarea>
                    </div>
                    <div class="col">
                        <label for="modality" class="p-1">Modalidad:</label>
                    </div>
                    <div class="col">
                        <select id="modality" name="modality" class="form-select" aria-label="Default select example">
                            <option selected value="{{ program.modality }}">{{ program.modality }}</option>
                            {% for modality in modalities %}
                            {% if program.modality != modality %}
                            <option value="{{ modality }}">{{ modality }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <!-- Display additional program details -->
                <div class="row gx-5">
                    <div class="col">
                        <label for="program_manager" class="p-1">Director de programa:</label>
                    </div>
                    <div class="col">
                        <input type="text" id="program_manager" name="program_manager" value="{{ program.director }}"
                               class="form-control">
                    </div>
                    <div class="col">
                        <div class="p-1">Duración:</div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <span class="input-group-text"># Semestres:</span>
                            <input type="text" class="form-control text-center" aria-label="Amount" name="duration"
                                   value="{{ program.duration }}">
                        </div>
                    </div>
                </div>
                <!-- Display program cost -->
                <div class="row gx-5">
                    <div class="col">
                        <div class="p-1">Costo de la matrícula:</div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <span class="input-group-text">$</span>
                            <input type="text" class="form-control" aria-label="Amount" name="cost"
                                   value="{{ program.cost }}">
                        </div>
                    </div>
                    <div class="col">
                        <label class="p-1">Malla curricular:</label>
                    </div>
                    <div class="col d-flex">
                        <input type="file" id="curriculum" name="curriculum" accept=".pdf, .doc, .docx">
                    </div>
                </div>
            </div>
        </form>
        <br>
        <a href="#" onclick="history.back();" type="button" class="btn btn-secondary">Cancelar</a>
        <a id="editButton" type="button" class="btn btn-primary">Guardar</a>
    </div>
</div>

<script>
    document.getElementById('editButton').addEventListener('click', function () {
        document.getElementById('editForm').submit();
    });
</script>

{% endblock %}