{% extends "layouts/base-app-pages.html" %}
{% load static %}

{% block main-container-content %}
<link rel="stylesheet" href="{% static '/styles/assign-teacher.css' %}">

<div class="subject-info">
    <!-- Display the subject information -->
    <div class="form-floating">
        <input type="text" readonly class="form-control-plaintext" id="subject-input" value="{{ new_class.title }}">
        <label for="subject-input">Nombre de la materia:</label>
    </div>
</div>

<div class="search-bar">
    <!-- Search bar for finding teachers -->
    <form id="search-form" method="get">
        <div class="input-group mb-3">
            <input type="search" class="form-control" id="search-input" name="search" placeholder="Buscar profesor">
            <button class="btn btn-outline-secondary" type="submit" id="search-btn">
                <!-- Search icon -->
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                </svg>
            </button>
        </div>
    </form>
</div>

<!-- Alert displayed when there is a class overlap -->
{% if overlap_alert %}
<div class="alert-container">
    <div class="alert alert-warning" role="alert">
        No es posible asignar esta clase al profesor en este horario debido a un solapamiento con otra clase existente.
    </div>
</div>
{% endif %}

<div class="teacher-info">
    <!-- Display basic teacher information -->
    <h5 class="professor-info-heading">Basic Teacher Information</h5>
    <div class="form-floating">
        <input type="text" readonly class="form-control-plaintext" id="teacher-id" placeholder="Cédula de ciudadanía" value="{{ teacher.id }}">
        <label for="teacher-id">Cédula de ciudadanía:</label>
    </div>
    <div class="form-floating">
        <input type="text" readonly class="form-control-plaintext" id="teacher-name" placeholder="Nombre del docente" value="{{ teacher.name }}">
        <label for="teacher-name">Docente:</label>
    </div>
    <div class="form-floating">
        <input type="text" readonly class="form-control-plaintext" id="teacher-city" placeholder="Ciudad" value="{{ teacher.city }}">
        <label for="teacher-city">Ciudad:</label>
    </div>
    <div class="form-floating">
        <input type="email" readonly class="form-control-plaintext" id="teacher-email" placeholder="Email" value="{{ teacher.email }}">
        <label for="teacher-email">Email:</label>
    </div>
    <div class="form-floating">
        <input type="tel" readonly class="form-control-plaintext" id="teacher-phone" placeholder="Celular" value="{{ teacher.cellphone }}">
        <label for="teacher-phone">Celular:</label>
    </div>
</div>

<div class="schedule-info">
    <!-- Display teacher's class schedule -->
    <h5 class="schedule-heading">Teacher's Class Schedule</h5>
    <div class="schedule-table" id="schedule"></div>
    <form id="assign-form" method="post" action="{% url 'assign_teacher' new_class.id %}">
        {% csrf_token %}
        <input type="hidden" name="teacher_id" value="{{ teacher.id }}">
        <div class="text-center">
            <!-- Button to save assigned teacher -->
            <button type="submit" class="btn btn-primary" {% if overlap_alert %} disabled {% endif %}>Guardar</button>
            <!-- Button to cancel assignment -->
            <a href="{% url 'edit_info_class' new_class.id %}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>    
</div>

<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<!-- Full Calendar -->
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
<!-- Autosuggestion of teacher in search bar -->
<script>
$(function() {
    $("#search-input").autocomplete({
        source: "{% url 'search_teacher' %}",
        minLength: 2,
        select: function(event, ui) {
            $("#search-input").val(ui.item.label);
            return false;
        },
        focus: function(event, ui) {
            $("#search-input").val(ui.item.label);
            return false;
        }
    });
});
</script>
<!-- Schedule of classes -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarUI = document.getElementById('schedule');
        var calendar = new FullCalendar.Calendar(calendarUI, {
        locale: 'es',
        initialView: 'timeGridWeek',
        allDaySlot: false,
        titleFormat: {
            month: 'long',
            year: 'numeric'
        },
        headerToolbar: {
            left: 'prev,next',
            center: 'title',
            right: null
        },
        dayHeaderFormat: {
          weekday: 'long',
          day: 'numeric'
        },
        slotLabelFormat: {
            hour: 'numeric',
            minute: '2-digit',
        },
        slotLabelContent: function(slotInfo) {
            var hour = slotInfo.date.getHours();
            var meridiem = hour >= 12 ? 'PM' : 'AM';
            return hour + ':' + slotInfo.date.getMinutes().toString().padStart(2, '0') + ' ' + meridiem;
        },
        events: [
            // Existing classes
            {% for class in classes %}
            {
                title: '{{ class.title }}',
                start: '{{ class.start }}',
                end: '{{ class.end }}',
                classNames: ['existing-class-event']
            },
            {% endfor %}
            // New class
            {% if new_class %}
            {
                title: '{{ new_class.title }}',
                start: '{{ new_class.start }}',
                end: '{{ new_class.end }}',
                classNames: ['new-class-event']
            },
            {% endif %}
        ]
    });
    calendar.render();
    calendar.updateSize();
  });
</script>
{% endblock %}