{% extends "layouts/base-with-footer.html" %}

{% load static %}

{% block tittle-container %}
Login
{% endblock %}

{% block largest-container-content %}
<!-- Add additional styles for this page only -->
<!-- Specific styles for the current page -->
<link rel="stylesheet" href="{% static '/styles/login.css' %}">

<div id="clock-tower-photo"></div>
<div id="login-form">
    <div id="form-elements">
        <div id="align-login">
            <h1>Iniciar sesión</h1>
        </div>
        <div role="alert" style="color: red">
            {{ error }}
        </div>
        <div id="form">
            <form method="POST">
                {% csrf_token %}
                <label>Nombre de usuario</label> <br>
                <div class="username">
                    <label>
                        {{ form.username }}
                    </label>
                    <div class="username-icon" onclick="function activateInput() {
                            const input = document.getElementById('username-input');
                            input.focus();
                        }
                        activateInput()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                            <path fill="currentColor"
                                  d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4"/>
                        </svg>
                    </div>
                </div>
                <label>Contraseña</label> <br>
                <label>
                    {{ form.password }}
                </label>
                <input type="submit" value="Acceder" id="access">
            </form>
        </div>
        <div id="forgot-password">
            <a href="/sing-up">
                <p>¿Aún no tienes una cuenta? Regístrate ahora mismo</p>
            </a>
            <a href="https://www.icesi.edu.co/pic_usuario_unico/newpass">
                <p id="forgot-user">¿Olvidó su nombre de usuario o contraseña?</p>
            </a>
        </div>
    </div>
</div>
{% endblock %}