<!--{% load static %}-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#000000"/>
    <title>Login</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A400%2C700"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
    <link rel="stylesheet" href="{% static '/styles/login.css' %}">

</head>
<body>
<div class="login-JkN">
    <div class="auto-group-zvrg-3T4">
        <div class="image-AXg">
        </div>
        <div class="auto-group-j18i-3rN">
            <div class="auto-group-jjdc-mGa">
                <h2 class="iniciar-sesin-6Zk">Iniciar sesión</h2>
                <div class="usuario-Pok">
                    <p class="nombre-de-usuario-9Y2">Nombre de usuario</p>
<!--                    <div class="auto-group-v23p-UKQ">-->
                        <label>
                            <input class="auto-group-v23p-UKQ" placeholder="Ingrese su nombre de usuario">
                        </label>
<!--                        <img class="vector-u9p" src="{% static '/assets/vector-jrv.png' %}" alt=""/>-->
<!--                    </div>-->
                </div>
            </div>
            <div class="contrasea-Cuc">
                <p class="contrasea-mC2">Contraseña</p>
                <div class="auto-group-ozer-VNv">
                    <label>
                        <input class="ingrese-su-contrasea-CYE" placeholder="Ingrese su contraseña">
                    </label>
                    <!--                    <img class="vector-vj8" src="{% static '/assets/vector-5J6.png' %}" alt=""/>-->
                </div>
            </div>
            <div class="auto-group-ywan-eQE">
                <button class="botn-de-acceso-aHt">Acceder</button>
                <label class="olvid-su-nombre-de-usuario-o-contrasea-eHk">¿Olvidó su nombre de usuario o contraseña?
                </label>
            </div>
        </div>
    </div>
    <div class="barra-inferior-completa-Ye2">
        <img class="vector-Una" src="{% static '/assets/vector-yj4.png' %}" alt=""/>
        <p class="universidad-icesi-c86">Universidad Icesi</p>
        <img class="vector-K2W" src="{% static '/assets/vector-Vav.png' %}" alt=""/>
        <img class="vector-Fgr" src="{% static '/assets/vector-9B4.png' %}" alt=""/>
        <img class="vector-zuL" src="{% static '/assets/vector-bgJ.png' %}" alt=""/>
        <img class="vector-wZg" src="{% static '/assets/vector-KuG.png' %}" alt=""/>
        <img class="vector-4PQ" src="{% static '/assets/vector-UqL.png' %}" alt=""/>
        <p class="telfono-5552334-ext-4188-CEi">Teléfono: 5552334 ext 4188</p>
        <img class="vector-HGA" src="{% static '/assets/vector-cuU.png' %}" alt=""/>
        <p class="icesivirtualtilistasicesieduco-d58">Icesivirtual.ti@listas.icesi.edu.co</p>
        <img class="vector-8Gn" src="{% static '/assets/vector-mP4.png' %}" alt=""/>
        <div class="rectangle-16-sVG">
        </div>
    </div>
</div>
</body>