{% extends "layouts/base-app-pages.html" %}  <!-- Extends a base template -->

{% load static %}  <!-- Loads static files such as CSS and JavaScript -->
{% load my_filters %}  <!-- Loads custom template filters -->

{% block tittle-container %}
Gestión de Roles
{% endblock %}

{% block main-container-content %}
<div class="container" style="padding: 0 20px 40px 20px;">
    <div class="p-1">
        En la siguiente sección, encontrarás el listado de trabajadores del Centro Compartido de Servicios Académicos
        que
        participan en el proceso de Programación Académica. Aquí podrás ver su información de usuario y el rol que
        desempeñan actualmente. También tendrás la opción de modificar su rol o eliminarlos del sistema. Además, podrás
        agregar usuarios al sistema.
    </div>
    <!-- Display message if no teachers found -->
    {% if not users and not query %}
    <div class="alert alert-primary text-center" role="alert">
        No hay usuarios registrados en el sistema.
    </div>
    <!-- Display table with teachers -->
    {% else %}
    <!--    User search engine-->
    <br>
    <form method="GET">
        <div class="input-group mb-2">
            <span class="input-group-text">Buscador de usuarios</span>
            <label for="user_search_engine"></label><input type="search" class="form-control" id="user_search_engine"
                                                           placeholder="Ingrese el nombre de usuario, el nombre o el apellido del usuario"
                                                           name="user_search_engine">

            {% if not show_all %}
            <button class="btn btn-outline-secondary" value="">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M10 19h4v-2h-4zm-4-6h12v-2H6zM3 5v2h18V5z"/>
                </svg>
                Mostrar todos
            </button>
            {% endif %}
            <button class="btn btn-outline-secondary">Buscar</button>
        </div>
        <div class="d-flex justify-content-end">
            <a href="{% url 'sign_up' %}" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M19 12.998h-6v6h-2v-6H5v-2h6v-6h2v6h6z"/>
                </svg>
                Agregar usuario
            </a>
        </div>
        <br>
    </form>

    {% if not users and query %}
    <div class="alert alert-primary text-center" role="alert">
        No se encontraron coincidencias. Inténtelo nuevamente.
    </div>
    {% else %}
    <form id="updateForm" method="POST">
        {% csrf_token %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre de usuario</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Rol</th>
                <th scope="col">Correo electrónico</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ user.username }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>
                    {% if user.role.name == "Líder de procesos" %}
                    <div class="btn-group" role="group" aria-label="Button group">
                        <input type="radio" class="btn-check" name="role{{ forloop.counter }}"
                               id="btn_radio_{{ forloop.counter }}a"
                               autocomplete="off"
                               value="Líder de procesos" checked>
                        <label class="btn btn-outline-secondary" for="btn_radio_{{ forloop.counter }}a">Líder</label>
                        <input type="radio" class="btn-check" name="role{{ forloop.counter }}"
                               id="btn_radio_{{ forloop.counter }}b"
                               autocomplete="off"
                               value="Asistente de procesos">
                        <label class="btn btn-outline-secondary"
                               for="btn_radio_{{ forloop.counter }}b">Asistente</label>
                    </div>
                    {% else %}
                    <div class="btn-group" role="group" aria-label="Button group">
                        <input type="radio" class="btn-check" name="role{{ forloop.counter }}"
                               id="btn_radio_{{ forloop.counter }}a"
                               autocomplete="off"
                               value="Líder de procesos">
                        <label class="btn btn-outline-secondary" for="btn_radio_{{ forloop.counter }}a">Líder</label>
                        <input type="radio" class="btn-check" name="role{{ forloop.counter }}"
                               id="btn_radio_{{ forloop.counter }}b"
                               autocomplete="off"
                               value="Asistente de procesos" checked>
                        <label class="btn btn-outline-secondary"
                               for="btn_radio_{{ forloop.counter }}b">Asistente</label>
                    </div>
                    {% endif %}
                </td>
                <td>{{ user.email }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
    <div class="text-center">
        <a class="btn btn-secondary" href="{% url 'role_management' %}">
            Cancelar Cambios
        </a>
        <!-- Button to submit registration form -->
        <button class="btn btn-primary" id="saveBtn">
            Guardar Cambios
        </button>
    </div>
    {% endif %}
    {% endif %}
</div>
<script>
    document.getElementById('saveBtn').addEventListener('click', function () {
        document.getElementById('updateForm').submit();
    });
</script>

{% endblock %}
