{% extends "layouts/base-app-pages.html" %}

{% load static %}

{% block title-container %}
<title>{{title}}</title>
{% endblock %}

{% block main-container-content %}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<link rel="stylesheet" href="{% static '/styles/subject_detail.css' %}">

<div class="container bg-white p-4">
    <h2>Materia - {{ subject.name }}</h2>
    <div class="row">
        <div class="col-lg-12">
            <h3>Información detallada</h3>
            <div class="card mb-4">
                <div class="card-body">
                    <p><strong>Código:</strong> {{ subject.code }}</p>
                    <p><strong>NRC:</strong> {{ subject.nrc }}</p>
                    <p><strong>Créditos:</strong> {{ subject.credits }}</p>
                    <p><strong>Tipo:</strong> {{ subject.type }}</p>
                    <p><strong>Syllabus:</strong> {{ subject.syllabus }}</p>
                    <p><strong>Fecha de inicio:</strong> {{ subject.start_date }}</p>
                    <p><strong>Fecha de fin:</strong> {{ subject.ending_date }}</p>
                    <p><strong>Modalidad:</strong> {{ subject.modality }}</p>
                    <p><strong>Sesiones:</strong> {{ subject.num_sessions }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h3>Sesiones</h3>
            <div class="table-responsive mb-4">
                <table class="table table-striped w-100">
                    <thead>
                        <tr>
                            <th>SESIÓN</th>
                            <th>FECHA DE INICIO</th>
                            <th>FECHA DE FIN</th>
                            <th>PROFESOR</th>
                            <th>MODALIDAD</th>
                            <th>ESPACIO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- filas de la tabla con la información de cada sesión -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Opcional JavaScript -->
<!-- jQuery primero, luego Popper.js, luego Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock %}