#container-menu {
    height: 95vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    background: rgba(23, 104, 172, 0.9);
    box-shadow: inset -0.12rem 0 0 rgba(0, 0, 0, 0.25);
    padding-top: 2rem;
}

.user {
    height: 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.user span {
    font-size: 1rem;
    color: white;
}

nav {
    height: 80%;
    padding-top: 30%;
}

nav a {
    display: block;
    text-decoration: none;
    padding: 1rem;
    color: white;
    transition: all 400ms ease;
    gap: 1.5rem;
}

nav a:hover {
    border-left: 5px solid white;
}

.log-out {
    height: 10%;
}

.log-out a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#container-body {
    height: 95vh;
    width: 85vw;
    display: flex;
    flex-direction: column;
}

/*Header*/
.header {
    height: 12.5vh;
    width: 100%;
    margin: 1.5rem 0 0 1.5rem;
}