/* Estilos para la información de la materia */
.subject-info {
    width: 70%;
    padding-left: 5%;
}

.search-bar {
    width: 70%;
    padding-left: 5%;
}

#search-btn {
    background-color: rgba(23, 104, 172, 0.9);
    fill: white;
}

label {
    font-weight: bold;
}

/* Estilos para la alerta de solapamiento de clases */
.alert-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert {
    width: 80%;
    border: 1px solid transparent;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

/* Estilos para la información del profesor */
.professor-info-heading {
    font-weight: bolder;
}

.teacher-info {
    width: 70%;
    padding-left: 5%;
}

/* Estilos para la tabla de horarios */
.schedule-info {
    padding-top: 1.3%;
}

/* Estilos específicos para la tabla responsive */
.schedule-heading {
    font-weight: bolder;
    padding-left: 5%;
}

/* Estilos para el contenedor del horario */
.schedule-table {
    /* Ajusta el tamaño del contenedor para adaptarse al calendario */
    width: 100%;
    height: 600px;
    padding: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    /* Estilos para el encabezado del calendario y los dias de la semana en la cabecera */
    .fc-toolbar-title,
    .fc-col-header-cell-cushion {
        font-weight: bold;
        text-transform: uppercase;
        color: rgba(23, 104, 172, 0.9);
    }

    /* Estilo para el botón "Prev" */
    .fc-prev-button {
        background-color: black;
        color: white;
        border: black;
    }

    /* Estilo para el botón "Next" */
    .fc-next-button {
        background-color: black;
        color: white;
        border: black;
    }

    /* Estilo adicional para ambos botones */
    .fc-prev-button:hover,
    .fc-next-button:hover {
        opacity: 1;
    }

    /* Estilos para los eventos de la nueva clase */
    .new-class-event {
        background-color: grey !important;
        border: black !important;
    }

    /* Estilos generales para los eventos */
    .existing-class-event {
        background-color: rgba(23, 104, 172, 0.9);
        color: white;
    }

}

/* Estilos para los botones */
.btn-primary {
    background-color: rgba(23, 104, 172, 0.9);
    color: white;
    border-color: rgba(23, 104, 172, 0.9);
}

.btn-secondary {
    background-color: rgba(108, 117, 125);
    color: white;
    border-color: rgba(108, 117, 125);
}

.btn-primary:hover,
.btn-secondary:hover {
    opacity: 0.8;
}

.btn-primary:focus,
.btn-secondary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

/* Estilos para el contenedor de los botones */
.text-center {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}