.custom-width {
    width: 5%; /* o cualquier otro valor que desees */
}


/* Estilo para los iconos */
.button-download,
.button-calendar-start,
.button-calendar-end,
.button-professor,
.button-select,
.button-room {
    border: none;
    background: none;
    cursor: pointer;
}

/* Estilo para el botón de guardar y cancelar */
.btn-primary {
    background-color: rgba(23, 104, 172, 0.9);
    color: white;
    border-color: rgba(23, 104, 172, 0.9);
}

.btn-secondary {
    background-color: rgba(108, 117, 125);
    color: white;
    border-color: rgba(108, 117, 125);
}