{% extends "layouts/base-app-pages.html" %}

{% load static %}
{% block main-container-content %}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<link rel="stylesheet" href="{% static 'styles/layouts/edit-info-class.css' %}">
<h2>Materia - {{ subject.name }}</h2>
<div class="table-responsive">
  <table class="table">
    <tbody>
      <tr><th>Código:</th><td>{{ subject.code }}</td></tr>
      <tr><th>NRC:</th><td>{{ subject.nrc }}</td></tr>
      <tr><th>Créditos:</th><td>{{ subject.credits }}</td></tr>
      <tr><th>Tipo:</th><td>{{ subject.type }}</td></tr>
      <tr>
        <th>Syllabus:</th>
        <td>{{ subject.syllabus }}</td>
        <td><button class="button-download"><img src="/static/assets/downicon.png"></button></td>
      </tr>
      <tr><th>Sesión:</th><td>{{ subject.num_sessions }}</td></tr>
      <tr>
        <th>Fecha de inicio:</th>
        <td>{{ subject.start_date }}</td>
        <td><button class="button-calendar-start"><img src="/static/assets/calendaricon.png"></button></td>
      </tr>
      <tr>
        <th>Fecha de fin:</th>
        <td>{{ subject.ending_date }}</td>
        <td><button class="button-calendar-end"><img src="/static/assets/calendaricon.png"></button></td>
      </tr>
      <tr>
        <th>Profesor:</th>
        <td>{{ subject.Profesor }}</td>
        <td><button class="button-professor"><img src="/static/assets/professoricon.png"></button></td>
      </tr>
      <tr>
        <th>Modalidad:</th>
        <td>{{ subject.modality }}</td>
        <td><button class="button-select"><img src="/static/assets/selecticon.png"></button></td>
      </tr>
      <tr>
        <th>Salón:</th>
        <td>{{ subject.room }}</td>
        <td><button class="button-room"><img src="/static/assets/roomicon.png"></button></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="form-actions">
  <button class="btn btn-secondary">Cancelar</button>
  <button class="btn btn-primary">Guardar</button>
</div>


    

<!-- Opcional JavaScript -->
<!-- jQuery primero, luego Popper.js, luego Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock %}